/* Default Resets
********************************************************/
h1 {
	margin: .5em 0 .5em 0;
}

/* Bootstrap Resets
********************************************************/

.navbar a.brand {
	/* Max font size to prevent wrapping 
	at viewport width 1000px */
	font-size: 1.24em;
}

/* Fix for tooltip text not wrapping
@url http://stackoverflow.com/questions/13338780/how-to-make-twitter-bootstrap-tooltips-have-multiple-lines 
*/

.tooltip-inner {
    white-space:pre-wrap;
}

/* Fix for bootstrap conflict with google maps
@url http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps
*/
#map img {
	max-width: none;
}

#map label {
	width: auto;
	display: inline;
}

/* Social Buttons
********************************************************/
#fb-like-button {
	margin-right: 1.2em;
}

#fb-like-button,#gplus-button,#tweet-button {
	margin-top: .7em;
}

/* Custom Styles
********************************************************/
.inline-top {
	display: inline-block;
	vertical-align: top;
}

.inline-middle {
	display: inline-block;
	vertical-align: middle;
}

p.essay {
	margin: 1em 0 1em 0;
	text-align: justify;
}

div.well p {
	text-align: justify
}

ol.essay,ul.essay {
	margin-bottom: 3em;
}

ol.essay li,ul.essay li {
	text-align: justify;
}

hr.footer-line {
	margin-top: 5em;
}

/* Google Visualization UI
********************************************************/

.goog-menu-vertical {
	max-height: 30em;
	overflow-y: auto;
	z-index: 15;
}

/*
Set the entire width of the combobox
including input field and dropdown button
*/

.gviz.control-occupation .goog-combobox {
	width: 60em;
}

/*
Set the width of the input field
and the dropdown list below it
*/

.gviz.control-occupation .goog-combobox .goog-menu,
.gviz.control-occupation .goog-combobox.goog-inline-block > input {
	width: 58em;
}

/* Default chart size */

.gviz.chart {
	/* now gviz will automatically fill parent's width */
	height: 30em;
}

/* Charts
********************************************************/

.chart-container {
	margin: 2em 0 2em 0;
}

.chart {
	margin: 0 0 0 0;
	height: 25em;
}

.date-slider {
	margin: 0 0 1em 0;
	height: 6em;
}

#pm25-advisory {
	margin: 2em 0 .5em 0;
}

/* Hotspots Page
********************************************************/
#map-container {
	width: 100%
}

#map {
	height: 58em;
}

input#kml-date {
	margin: 0 0 1em 0;
	display: inline-block;
	vertical-align: .5em;
}